body {
    background-color: black; 
    color: white; 
    font-family: "Times New Roman", serif; 
    font-weight: bold; 
    font-size: 12px; 
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
img {
    max-width: 100%; 
    height: auto;
}
@media only screen and (max-width: 800px) {
    body {
        font-size: 14px; 
    }
}